<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zhuxn.inforelease.shiro.orm.mapper.UserMapper">
   <resultMap type="User" id="UserResultMap">
		<id column="id" property="id" />
		<result column="uuid" property="uuid" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="create_time" property="createTime" />
		<result column="disabled" property="disabled" />
		<collection property="roles" ofType="Role">
			<id property="id" column="role_id"/>
			<result property="code" column="code"/>
			<result property="name" column="name"/>
		</collection>
   </resultMap>
  <select id="getUser" resultMap="UserResultMap">
	SELECT 
	id,user_name,password,disabled
	FROM t_user t 
	WHERE t.user_name=#{param1}
  </select> 
  <select id="getByUserName" resultMap="UserResultMap">
	SELECT id,user_name,password,uuid,disabled
	FROM t_user
	WHERE user_name=#{username} AND disabled = FALSE
  </select>
  <select id="selectByNameAndPass" resultMap="UserResultMap">
  	SELECT id,user_name,password,uuid,disabled
	FROM t_user
	WHERE user_name = #{param1}
	AND password = #{param2} 
	AND disabled = FALSE
  </select>
  <update id="updatePassword">
  	UPDATE t_user
  	SET password=#{param3}
  	WHERE user_name=#{param1}
  	AND password=#{param2}
  </update>
  <select id="selectCount" resultType="int">
  	SELECT count(1)
  	FROM t_user u
  	JOIN t_user_role ur ON u.id = ur.user_id
  	JOIN t_role r ON ur.role_id = r.id
  	WHERE r.code != 'admin'
  </select>
  <select id="selectPage" resultMap="UserResultMap">
  	SELECT u.id,u.user_name,u.uuid,r.code,r.name,r.id AS role_id,u.disabled
  	FROM t_user u
  	JOIN t_user_role ur ON u.id = ur.user_id
  	JOIN t_role r ON ur.role_id = r.id
  	WHERE r.code != 'admin'
  	ORDER BY create_time DESC
  	LIMIT #{start},#{pageSize}
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  	INSERT INTO 
  	t_user (user_name,password,uuid)
  	VALUES(#{userName},#{password},#{uuid})
  </insert>
  <update id="updateAbled">
  	UPDATE 
  	t_user
  	SET disabled=#{param2}
  	WHERE uuid=#{param1}
  </update>
  <update id="updateUser">
  	UPDATE 
  	t_user
  	SET create_time = NOW()
    <if test="password != null and password != ''">
        ,password = #{password}
    </if>
  	WHERE uuid = #{uuid}
  </update>
  <select id="selectByUuid" resultMap="UserResultMap">
  	SELECT id,user_name,uuid,disabled
  	FROM t_user
  	WHERE uuid = #{parma1}
  </select>
    <select id="selectById" resultMap="UserResultMap">
        SELECT id,user_name,uuid,disabled
        FROM t_user
        WHERE id = #{userId}
    </select>
</mapper>  